#story
{
    width: 500px;
    height: 500px;
    border: 1px solid black;
}
#DivDestino1
{ 
    width:350px; 
    height:70px; 
    padding:10px; 
    border:1px solid #aaaaaa; 
}

#DivDestino2
{ 
    width:350px; 
    height:70px; 
    padding:10px; 
    border:1px solid #aaaaaa; 
}

#DivDestino3
{ 
    width:350px; 
    height:70px; 
    padding:10px; 
    border:1px solid #aaaaaa; 
}

#DivDestino4
{ 
    width:350px; 
    height:70px; 
    padding:10px; 
    border:1px solid #aaaaaa; 
}